.card {
  background-color: lightgrey;
  height: 200px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  .amount {
    color: red;
  }
}
