.card {
  background-color: lightgrey;
  height: 200px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  .amount {
    color: red;
  }
  button {
    border-radius: 15px;
    color: white;
    height: 50px;
    width: 150px;
    cursor: pointer;
  }
  .primary-button {
    background-color: lightgreen;
  }
  .secondary-button {
    background-color: red;
  }
}
